{
  "env": {
    "browser": true,
    "es6": true //todo
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/rule-name": "error",
    "curly": 2,
    "indent": 0,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-var": 2,
    "no-console": 2,
    "max-len": [
      "error",
      {
        "code": 100
      }
    ]
  }
}
  