{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended",  "plugin:@typescript-eslint/eslint-recommended","plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "curly": 2,
    "indent": 0,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-console": 2,
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": 1
  }
}