:root {
    --color-background: #F8F8F7;
    --color-background-white: #FFF;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-text: #050038;
    --color-button: #4262ff;
    --color-button-shades: rgba(66, 98, 288, 0.7);
    --ls: 8px;
    --ls--sm: calc(var(--ls) * 2);
    --ls--md: calc(var(--ls) * 3);
    --ls--lg: calc(var(--ls) * 4);
}

.form-example {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-width: 340px;
    max-width: 540px;
    background: var(--color-background);
    box-shadow: 0 8px 20px var(--color-shadow);
    border-radius: 8px;
    margin: var(--ls--md) auto;
}

.form-wrapper {
    padding: var(--ls--lg) 50px var(--ls--md);
}

.form-header {
    padding-bottom: var(--ls--md);
    color: var(--color-text);
    font-size: 20px;
}

.form-header_bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.form-emails-input {
    max-width: 440px;
    height: 96px;
}

.form-footer {
    display: flex;
    height: 96px;
    background-color: var(--color-background-white);
    padding: var(--ls--md) 0 var(--ls--lg) 50px;
    box-sizing: border-box;
}

.form-button {
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    background: var(--color-button);
    border-radius: 6px;
    border: 0;
    margin-right: 16px;
    padding: var(--ls) var(--ls--sm);
    color: var(--color-background-white);
}

.form-button:focus {
    outline: 0 solid;
}

.form-button:hover {
    background-color: var(--color-button-shades);
}

