@import '../../styles/colors.css';

.container {
    display: flex;
    align-items: center;
    margin: 0 8px 4px 0;
    box-sizing: border-box;
}

.container--valid {
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 8px;
    background: var(--color-background--transparent);
}

.container--invalid {
    border-bottom: 1px dashed var(--color-border--error);
    box-sizing:border-box;
}

.contact {
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-remove-button {
    background-image: url(assets/remove.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 8px;
    width: 8px;
    margin-left: 8px;
}

.contact-remove-button:focus {
    /*for accessibility*/
    outline-width: 0;
}

