@import '../../styles/colors.css';
@import '../../styles/variables.css';

.container {
    display: flex;
    min-width: 0;
    height: 24px;
    align-items: center;
    margin: 0 var(--ls) 4px 0;
}

.container_valid {
    padding: 0 var(--ls) 0 10px;
    background: var(--color-background--transparent);
    border-radius: 100px;
}

.container_invalid {
    box-sizing: border-box;
    border-bottom: 1px dashed var(--color-border--error);
    transform: translateZ(0);
}

.contact {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact-remove-button {
    min-width: 8px;
    height: 8px;
    border: none;
    margin-left: var(--ls);
    background-color: transparent;
    background-image: url(../../assets/remove.svg);
}

.contact-remove-button:focus {
    outline: 0 solid;
}