:root {
    --color-background--transparent: rgba(102, 153, 255, 0.2);
    --color-background--light: #ffffff;
    --color-text: #050038;
    --color-border--error: #d92929;
    --color-border--regular: #C3C2CF;
}
