@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Bold.woff') format('woff');
}

input {
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}